*{
    padding: 0;
    margin: 0;
}
.car{
    position: absolute;
    transform: rotate(90deg);
    height: 15%;
    width: 30%;
    bottom: 50px;
    right: 50px;
    /*right: 0; */
}

.obstacle{
    transform: rotate(0deg);
    position: absolute;
    width: 30%;
}
.obstacle{
    top: -200px;
    right: 50px;
    animation-name: obstaclecourse;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* .obstacle2{
    right: 50px;
    bottom: 1000px;

} */
/* .obstacle3{
    bottom: 1400px;
    left: 50px;
}
.obstacle4{
    bottom: 1900px;
    right: 50px;
} */

body{
    background-color: #FFC800;
    display: flex;
    justify-content: center;
}
.road{
    position: relative;
    width: 40%;
    height: 100vh;
    background-color: black;
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 0;
    overflow: hidden;

}
.lline,.rline{
    position: absolute;
    height: 100vh;
    width:1%;
    border: 5px solid black;
    background-color: #FFC800;
    margin: 0;
}
.lline{
    left: 0;
}
.rline{right: 0;
}

.division{
    position: absolute;
    right: 47%;
    /* left: 50; */
    height: 100vh;
    width: 5%;
    bottom: 350px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* animation-name: roadanime; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
.white_stripe{
    height: 15%;
    background-color: white;
    width: 100%;
    margin-top: 55%;
    margin-bottom: 55%;
}
@keyframes obstaclecourse {
    from{transform: translateY(-200px);}
    to{transform: translateY(1200px);}
}